<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszlu.blog.mbg.mapper.TagMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.mszlu.blog.mbg.domain.entity.Tag">
    <id column="id" property="id"/>
    <result column="avatar" property="avatar"/>
    <result column="tag_name" property="tagName"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , avatar, tag_name as tagName
  </sql>

  <select id="findTagsByArticleId" resultType="com.mszlu.blog.mbg.domain.entity.Tag"
    parameterType="long">
    select
    <include refid="Base_Column_List"/> from ms_tag
    <where>
      id in
      (select tag_id from ms_article_tag where article_id =#{articleId})
    </where>
  </select>

  <select id="findHotsTagIds" resultType="java.lang.Long" parameterType="int">
    select tag_id from ms_article_tag at group by tag_id order by count(1) desc limit #{size}
  </select>

  <select id="findTagsByTagIds" resultType="com.mszlu.blog.mbg.domain.entity.Tag" parameterType="list">
    select
    <include refid="Base_Column_List"/>
    from ms_tag
    id in
    <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
      #{tagId}
    </foreach>
  </select>

</mapper>
